@import '../variables/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  font-weight: 400;
  font-style: normal;
}

.divider {
  border-top: 2px solid $color-white;
  border-bottom: 2px solid $color-gray;
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

main,
header,
footer {
  position: relative;
  z-index: 1;
}

form {
  max-width: $max-width-form;
  /* Ancho máximo del formulario */
  margin: auto;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.starry-bg {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  background: linear-gradient(to bottom,
      $color-gradient-dark 0%,
      $color-gradient-mid 30%,
      $color-gradient-light 50%,
      $color-gradient-mid 70%,
      $color-gradient-dark 100%);
  overflow: hidden;
}