.audio-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background: rgba(30, 30, 30, 0.7);
  border-radius: 10px;
  padding: 8px;
  box-shadow: $shadow-audio;
}

.audio-fixed audio {
  width: 8rem;
  /* Ajusta el tamaño si quieres */
}

.footer {
  font-size: 1.5rem;
  color: $color-white;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

.sorpresa {
  color: $color-white;
  text-decoration: none;
}